In [2]:
print('''hi
hello
vipul''')

hi
hello
vipul

In [4]:
username=input("enter username:")
print("username is:" +username)
std_id=input("enter std id:")
print("std id is:" +std_id)
std_name=input("enter std name:")
print("std name is:" +std_name)
brnh= input("enter brnh:")
print("brnh is:" +brnh)

enter username: vipul22

username is:vipul22

enter std id: 20

std id is:20

enter std name: vipul jambhulkat

std name is:vipul jambhulkat

enter brnh: computer

brnh is:computer

In [29]:
#program to demonstrate if , elif by checking largest of three number
a = 9
b = 50 
c = 15
if a>b and a>c:
    print("A is greter")
elif b>c and b>a:
    print("b is greter")
else:
    print("C is greter")

b is greter

In [9]:
#program to check whether a number is perfect or not
Number = 10
Sum = 0
for i in range(1,Number):
    if(Number % i == 0):
        Sum = Sum + i
if (Sum == Number):
    print("Perfect Number.")
else:
    print("not a Perfect Number.")

Number is not a Perfect Number.

In [16]:
#read multi-word string and print them in alphabetical order
str = ['d','c','b','a']
print("orignal:",str)
str.sort()
print("sorted:",str)

orignal: ['d', 'c', 'b', 'a']
sorted: ['a', 'b', 'c', 'd']

In [38]:
#car dictionary
#how many car are thear in dictionary
#change the colour of vipu to red
#remove the car item
car ={"i10":"Grey",
      "vip":"Red",
      "i20":"white"}
print(car)
print("this many car in dictionary:",format(len(car)))
car["vip"] = "Black"
print(car)
car.pop("i10")
print(car)

{'i10': 'Grey', 'vip': 'Red', 'i20': 'white'}
this many car in dictionary: 3
{'i10': 'Grey', 'vip': 'Black', 'i20': 'white'}
{'vip': 'Black', 'i20': 'white'}

In [42]:
#write the program to slove element of tuple
myT=("na","N","nINU","nEA")
li = list(myT) #change to list
print(li)
li.append("niiaa")#add in list
print(li)
myT=tuple(li)#change into tuple
print(myT)

['na', 'N', 'nINU', 'nEA']
['na', 'N', 'nINU', 'nEA', 'niiaa']
('na', 'N', 'nINU', 'nEA', 'niiaa')

In [44]:
# implement contact book using dictionary
book = {
            "Name":"Vipul",
            "Mobile":9595363474,
            "phone":785154,
            "Company":"CDAC"
}
for x,y in book.items():
    print(x,y)

Name Vipul
Mobile 9595363474
phone 785154
Company CDAC

In [25]:
#program to demonstate fibonacci series by recursion
def fibo(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
x=int(input())
for x in range(0,x):
    print(fibo(x), end=" ")

 6

0 1 1 2 3 5

In [1]:
#using data structures, create a directory consisting of emplyeeDetails name,id jon role , joiningh date
#1 add 5 employess
#2 check senior most employee
#3 add a new employee 
from datetime import date
employee1 = {
                "id":1003,
                "name":{
                    "prefix":"Mr.",
                    "firstname":"vipul",
                    "lastname":"jambhulkar",
                },
                "jobrole":"developer",
                "joiningdate":date(2024,4,22),
                "salary":82015451
}
employee2 = {
        
                "id":1005,
                "name":{
                    "prefix":"Mr.",
                    "firstname":"prabhat",
                    "lastname":"shinde",
                },
                "jobrole":"HPC Developer",
                "joiningdate":date(2024,6,11),
                "salary":70015451
}
employee3 = {
        
                "id":1007,
                "name":{
                    "prefix":"Mr.",
                    "firstname":"akhilesh",
                    "lastname":"shashtri",
                },
                "jobrole":"DEops Developer",
                "joiningdate":date(2024,8,8),
                "salary":65015451
}
employee4 = {
        
                "id":1010,
                "name":{
                    "prefix":"Mr.",
                    "firstname":"mukund",
                    "lastname":"waghmare",
                },
                "jobrole":"HPC AI Developer",
                "joiningdate":date(2024,12,12),
                "salary":90015451
}
employee5 = {
        
                "id":1003,
                "name":{
                    "prefix":"Mr.",
                    "firstname":"prabhat",
                    "lastname":"shinde",
                },
                "jobrole":"HPC Developer",
                "joiningdate":date(2024,6,11),
                "salary":70015451
}
employee6 = {
        
                "id":1013,
                "name":{
                    "prefix":"Mr.",
                    "firstname":"shivani",
                    "lastname":"gargh",
                },
                "jobrole":"AI semicond  Developer",
                "joiningdate":date(2024,11,15),
                "salary":90015451
}
employee_de={}
employee_de[1003] = employee1
employee_de[1005] = employee2
employee_de[1007] = employee3
employee_de[1010] = employee4
employee_de[1003] = employee5
employee_de[1013] = employee6
print(employee_de)

{1003: {'id': 1003, 'name': {'prefix': 'Mr.', 'firstname': 'prabhat', 'lastname': 'shinde'}, 'jobrole': 'HPC Developer', 'joiningdate': datetime.date(2024, 6, 11), 'salary': 70015451}, 1005: {'id': 1005, 'name': {'prefix': 'Mr.', 'firstname': 'prabhat', 'lastname': 'shinde'}, 'jobrole': 'HPC Developer', 'joiningdate': datetime.date(2024, 6, 11), 'salary': 70015451}, 1007: {'id': 1007, 'name': {'prefix': 'Mr.', 'firstname': 'akhilesh', 'lastname': 'shashtri'}, 'jobrole': 'DEops Developer', 'joiningdate': datetime.date(2024, 8, 8), 'salary': 65015451}, 1010: {'id': 1010, 'name': {'prefix': 'Mr.', 'firstname': 'mukund', 'lastname': 'waghmare'}, 'jobrole': 'HPC AI Developer', 'joiningdate': datetime.date(2024, 12, 12), 'salary': 90015451}, 1013: {'id': 1013, 'name': {'prefix': 'Mr.', 'firstname': 'shivani', 'lastname': 'gargh'}, 'jobrole': 'AI semicond  Developer', 'joiningdate': datetime.date(2024, 11, 15), 'salary': 90015451}}