In [6]:
c = ["mango","he","she","it","they"]
print(c)
c.append("hey")
print(c)
print(len(c))

['mango', 'he', 'she', 'it', 'they']
['mango', 'he', 'she', 'it', 'they', 'hey']
6

In [4]:
c = ["mango","he","she","it","they"]
print(c[2:4])

['she', 'it']

In [7]:
c = ["mango","he","she","it","they"]
c[3] = "mama"
print(c)

['mango', 'he', 'she', 'mama', 'they']

In [13]:
c = ["mango","he","she","it","they"]

print(c)
c.append(3.4)
print(c)
c.insert(1,"banana")
print(c)
c.remove("she")
print(c)

['mango', 'he', 'she', 'it', 'they']
['mango', 'he', 'she', 'it', 'they', 3.4]
['mango', 'banana', 'he', 'she', 'it', 'they', 3.4]
['mango', 'banana', 'he', 'it', 'they', 3.4]

In [1]:
taru = ["vipul","tarun","akhilesh","prabaht"]
taru = [2:2]= ["eja","roshan"]
print(taru)

SyntaxError: invalid syntax (2655949378.py, line 2)

In [1]:
taru = ["vipul","tarun","akhilesh","prabaht"]
taru1 = ["teja","roshan"]
taru.extent(taru1)
print(taru)

AttributeError: 'list' object has no attribute 'extent'

In [7]:
taru = ["vipul","tarun","akhilesh","prabaht"]
for x in taru:
    print(taru)

['vipul', 'tarun', 'akhilesh', 'prabaht']
['vipul', 'tarun', 'akhilesh', 'prabaht']
['vipul', 'tarun', 'akhilesh', 'prabaht']
['vipul', 'tarun', 'akhilesh', 'prabaht']

In [15]:
taru = ["vipul","tarun","akhilesh","prabaht"]
for x in taru:
    print(taru)
    if (x=="vipul"):
        print(x)
    else:
        print("not fount")

['vipul', 'tarun', 'akhilesh', 'prabaht']
vipul
['vipul', 'tarun', 'akhilesh', 'prabaht']
not fount
['vipul', 'tarun', 'akhilesh', 'prabaht']
not fount
['vipul', 'tarun', 'akhilesh', 'prabaht']
not fount

In [19]:
taru = ["vipul","tarun","akhilesh","prabaht"]
i=0
while i<len(taru):
    print(taru)
    i+=1

['vipul', 'tarun', 'akhilesh', 'prabaht']
['vipul', 'tarun', 'akhilesh', 'prabaht']
['vipul', 'tarun', 'akhilesh', 'prabaht']
['vipul', 'tarun', 'akhilesh', 'prabaht']

In [1]:
taru = ["vipul","tarun","akhilesh","prabaht"]
taru.pop()
print(taru)

['vipul', 'tarun', 'akhilesh']

In [10]:
def myfunc(n):
    return abs(n-50)
list1=[100,50,65,82,23]
list1.sort(key = myfunc)
print(list1)

[50, 65, 23, 82, 100]

In [11]:
"""using pythone data structures creat a dircteri consisting of employee details 
    (id , name , job role , joining date,salary) and perform the following operation
1 add 5 emplooye to directory
2 check the siniur most emolyee from directory using math function()
3 add a new employee to the directory 
4 remove a employee from the directory
5 short the employee
6 with the help of duction disply full name (pree fix , first name , last name)
7 list employee whos salary is aboue 80,0000
"""

'using pythone data structures creat a dircteri consisting of employee details \n(id , name , job role , joining date,salary) and perform the following operation\n1 add 5 emplooye to directory\n2 check the siniur most emolyee from directory\n3 add a new employee to the directory \n4 remove a employee from the directory\n5 short the employee\n6with the help of duction disply full name (pree fix , first name , last name)\nlist employee whos salary is aboue 80,0000\n'

In [13]:
Employee{"id":"23",
         "name":"tarun",
        }

SyntaxError: invalid syntax (3766781109.py, line 1)

In [22]:
def my_function(*kids):
    print("the youngest child is" +kids[0])
my_function("Emil","Tobias","Linus")

the youngest child isEmil

In [26]:
def my_function(**kid):
    print("the lastname is " +kid["lname"])
my_function(fname="Tobias",lname="Linus")

the lastname is Linus

In [31]:
def try_recursion(k):
    if(k>0):
        result = k + try_recursion(k-1)
        print(result)
    else:
        result = 0
    return result
print("\n\n recursion Example Results")
try_recursion(5)

 recursion Example Results
1
3
6
10
15

15

In [1]:
"""
1.fibonaci using recursiton
2.
"""

'\n1.fibonaci using recursiton\n2.\n'

In [4]:
class classname:
    x=5
p1=classname()
print(p1.x)

5

In [12]:
class Hi:
    def __init__(se,name,age):
        se.name=name
        se.age=age
        
p1=Hi("Tarun",30) #instance or object

print(p1.name)
print(p1.age)

Tarun
30

In [33]:
class Hi:
    def __init__(se,name,age):
        se.name=name
        se.age=age
#print(p1)

    def __str__(se):
        return f"{se.name}[{se.age}]"
p1=Hi("Tarun",30)
print(p1)

Tarun[30]

In [39]:
class Hi:
    def __init__(se,name,age):
        se.name=name
        se.age=age


    def myfunc(se):
      
        print("Hello my name is " + se.name)

p1=Hi("Tarun",30)
p1.myfunc()

Hello my name is Tarun

In [50]:
class Hi:
    def __init__(se,name,age):
        se.name=name
        se.age=age

    def myfunc(se):
      
        print("Hello my name is " + se.name)

p1=Hi("Tarun",30)
#p1.age=40
del p1.age

print(p1.age)

AttributeError: 'Hi' object has no attribute 'age'

In [57]:
try:
    print(x)
except:
    print("no x value")

no x value

In [72]:
try:
    print(x)
except nameError:
    print("variable x is not defined")
except:
    print("something else went wrong")
else:
    # print("nothing went wrong")

IndentationError: expected an indented block (2693721557.py, line 8)

In [70]:
try:
    print("hello")
except:
    print("something went wrong")
else:
    print("nothing went wrong")

hello
nothing went wrong