In [2]:
import pandas as pd
a=[1,7,2]
my=pd.Series(a)
print(my)

0    1
1    7
2    2
dtype: int64

In [7]:
import pandas as pd
my={
'cars':["BMW","Volvo","Ford"],
'passings':[1,7,2]
}
myvar=pd.DataFrame(my)
print(myvar)

    cars  passings
0    BMW         1
1  Volvo         7
2   Ford         2

In [10]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
my=pd.Series(calories)
print(my)
print(my[1])

day1    420
day2    380
day3    390
dtype: int64
380

In [13]:
import pandas as pd
c={
    "day1":[420,380,390],
    "day2":[50,30,45]
}
my=pd.DataFrame(c)
print(my)

   day1  day2
0   420    50
1   380    30
2   390    45

In [16]:
import pandas as pd
c={
    "day1":[420,380,390],
    "day2":[50,30,45]
}
my=pd.DataFrame(c)
#print(my)
print(my.loc[1])

day1    380
day2     30
Name: 1, dtype: int64

In [21]:
import pandas as pd
c={
    "day1":[420,380,390],
    "day2":[50,30,45]
}
my=pd.DataFrame(c)
#print(my)
print(my.loc[[1,2]])

   day1  day2
1   380    30
2   390    45

In [30]:
import pandas as pd
my=pd.read_csv('tru1.csv')
print(my.to_string())
print(my.info())
print(my.head(5))
print(my.tail(3))

   number    name      date   city
0      10     vip   ksjkghd    hyd
1      20    taru    ghjshd   bgnr
2      30     NaN    Azjhbs   ngpr
3      40    saku  jhsdhjck   pune
4      50     NaN      smj,    goa
5      60    nana   ukhfjkh    NaN
6      70    kaka    uirhuf    NaN
7      80    mama     m,.ek  delhi
8      90    akka       NaN     TN
9     100  chilli       NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  10 non-null     int64
 1   name    8 non-null      object
 2   date    8 non-null      object
 3   city    7 non-null      object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes
None
   number  name      date  city
0      10   vip   ksjkghd   hyd
1      20  taru    ghjshd  bgnr
2      30   NaN    Azjhbs  ngpr
3      40  saku  jhsdhjck  pune
4      50   NaN      smj,   goa
   number    name   date   city
7      80    mama  m,.ek  delhi
8      90    akka    NaN     TN
9     100  chilli    NaN    NaN

In [13]:
import numpy as np

arr0=np.array(25)
arr=np.array([1,2,3,4,5])
arr2=np.array([[1,2,3,4,5],[5,4,3,2,1]])
arr3=np.array([[[1,2,3,4,5],[4,5,6,7,5]],[[8,6,7,9,4],[3,5,6,4,9]],[["P","Q","R","S","T","U"],["a","b","c","d","e"]]])
# print(arr , end=" \n")
# print(arr2, end=" \n")
print(arr3, end=" \n")
# print(type(arr))
# print(arr3.ndim)
# print(arr2.shape)
print(arr2[0,2])
print(arr3[2,0,2])

[[list([1, 2, 3, 4, 5]) list([4, 5, 6, 7, 5])]
 [list([8, 6, 7, 9, 4]) list([3, 5, 6, 4, 9])]
 [list(['P', 'Q', 'R', 'S', 'T', 'U']) list(['a', 'b', 'c', 'd', 'e'])]]
3

C:\Users\corporate\AppData\Local\Temp\ipykernel_4984\547351272.py:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr3=np.array([[[1,2,3,4,5],[4,5,6,7,5]],[[8,6,7,9,4],[3,5,6,4,9]],[["P","Q","R","S","T","U"],["a","b","c","d","e"]]])

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed

In [17]:
import numpy as np

arr3=np.array([[[1,2,3,4,5],[4,5,6,7,5]],[[8,6,7,9,4],[3,5,6,4,9]],[["P","Q","R","S","T"],["a","b","c","d","e"]]])

print(arr3)

print(arr3[2,0,2])

[[['1' '2' '3' '4' '5']
  ['4' '5' '6' '7' '5']]

 [['8' '6' '7' '9' '4']
  ['3' '5' '6' '4' '9']]

 [['P' 'Q' 'R' 'S' 'T']
  ['a' 'b' 'c' 'd' 'e']]]
R